<script>
import gql from "graphql-tag";
import GET_ALL from "~/apollo/event/pagination.gql";
import GET_EVENTS from "~/apollo/event-offset.gql"

export default {
  layout: "user_layout",

  Carouselname: "seeMore",
  data() {
    return {
      ratingAverage: [],
      dialog: false,
      events_list: [],
      memuButton: [
        { title: "Bazar" },
        { title: "Campus Life" },
        { title: "Concert" }, 
        { title: "Forum" },
        { title: "Life Project" },
        { title: "Mind Set" },
        { title: "Party" },
        { title: "Science Event" },
        {title: "Sport"},
        {title: "Technology"},
        { title: "All" },
      ],
      search: "",
      filter: {},
      sortDesc: false,
      sortBy: "title",
      keys: ["title", "type", "price"],
      items: [],
      activeEvents: [],
      page: 1,
      paginationLength: 1,
      limit: 6,
      offset: 0,
    };
  },
  computed: {
    filteredKeys() {
      return this.keys.filter((key) => key !== "title");
    },
    // items() {
    //   this.items = this.$store.getters.events;
    //   return this.items;
    // },
  },
  methods: {
    seeMore(item) {
      //  console.log(id);
       if(item.orgId === this.$store.getters["user/userId"]){
       this.$router.push('/organizer/event_setting/' + item.id);
      } else {
        this.$router.push('/user/seeMore/' + item.id);
      }
    },
    // Get by category
    async eventTriggered(title) {
      // window.alert(`Triggered event is ${title}`);
      const data = this.$store.getters["event/getEventForPage"];
      const cat = this.$store.getters["event/getEvents"]
      console.log(cat.length)
      this.items = [];
      if (title.toLowerCase() === "all") {
        this.items = data;
      }
    
      this.items = cat.filter(el => el.type.toLowerCase() == title.toLowerCase())
      
    },
    // Display pagination pages
    async displayPage(page) {
      this.page = page;
      this.items = [];
      // this.ratingAverage = []
      this.offset = (page - 1) * this.limit;
      let variables = {
        status: "active",
        offset: this.offset,
        limit: this.limit,
      };
      const data = await this.$apollo.query({
        query: GET_EVENTS,
        variables,
      });

      for (let i = 0; i < data.data.events.length; i++) {
        this.items.push(data.data.events[i]);  
      }
      // console.log('items', this.items)
      // this.$store.dispatch("event/setEvents_a", this.items);
      this.$store.dispatch("event/setEventForPage_a", this.items);
    },

    async getEvents() {
      let variables = {
        status: "active",
        limit: this.limit,
        offset: this.offset,
      };
      let data;
      try{
       data = await this.$apollo.query({
          query: GET_EVENTS,
          variables,
        });
      } catch(err){
        window.location.reload()
      }
      this.items = data.data.events;
      this.getAll();
      // this.$store.dispatch("event/setEvents_a", this.items);
      this.$store.dispatch("event/setEventForPage_a", this.items);

    },
    async getAll() {
      let variables = { status: "active" };
      let data = await this.$apollo.query({
        query: GET_ALL,
        variables,
      });
      console.log(data.data.events.length);
      this.paginationLength = Math.ceil(data.data.events.length / this.limit);
      // this.$store.dispatch("event/setEventForCategory_a", data.data.events)
      this.$store.dispatch("event/setEvents_a", data.data.events);
    },
  },
  created() {
    this.getEvents();
    // console.log(this.$store.getters["event/getEvents"]);
  },
};
</script>

<template>
  <!-- <v-app> -->
  <v-container fluid class="dashlayout">
    
    <v-data-iterator
      :items="items"
      :light="true"
      :sort-by="sortBy.toLowerCase()"
      :sort-desc="sortDesc"
      hide-default-footer
    >
      <template v-slot:header>
        <v-toolbar color="gray" class="mb-1" flat>
          <template v-if="$vuetify.breakpoint.mdAndUp">
            <v-row class="toolbarRow">
              <v-col>
                <!-- <v-tooltip bottom min-width="90" color="teal">
                  <template v-slot:activator="{ on, attrs }"> -->
                <div class="text-center">
                  <v-select
                    v-model="sortBy"
                    flat
                    dense
                    solo-inverted
                    hide-details
                    :items="keys"
                    label="Sort by"
                    rounded
                    color="teal"
                  ></v-select>
                </div>
                <!-- </template> -->
                <!-- <span>Sort events</span>
                </v-tooltip> -->
              </v-col>
              <v-col>
                <div class="text-center">
                  <!-- slide-x-transition  -->
                  <v-menu offset-y transition="fab-transition">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        color=" text-capitalize teal--text"
                        v-bind="attrs"
                        v-on="on"
                        depressed
                        rounded
                      >
                        events by category
                        <v-icon class="ml-1">mdi-arrow-down-bold</v-icon>
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item
                        dense
                        v-for="(item, index) in memuButton"
                        :key="index"
                        link
                      >
                        <v-list-item-title @click="eventTriggered(item.title)">
                          {{ item.title }}
                        </v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </div>
              </v-col>
              <!-- <v-col>
                <v-btn-toggle v-model="sortDesc" mandatory>
                  <v-btn rounded small depressed color="" :value="false">
                    <v-icon color="teal">mdi-arrow-up-bold</v-icon>
                  </v-btn>
                  <v-btn rounded small depressed color="" :value="true">
                    <v-icon color="teal">mdi-arrow-down-bold</v-icon>
                  </v-btn>
                </v-btn-toggle>
              </v-col> -->
            </v-row>
          </template>
        </v-toolbar>
      </template>

      <template v-slot:default="props">
        <v-layout align-center justify-center wrap>
          <!-- for loop was embeded by card if any problem change flex to card -->
          <v-flex
            v-for="item in props.items"
            :key="item.title"
            md4
            lg4
            sm6
            xs12
            class="mx-n7"
          >
            <v-flex class="mr-4 mt-4" flat @click="seeMore(item)">
              <v-card :hover="true" max-width="340" class="mx-auto my-4 rounded-b-xl">
                <!-- <v-system-bar lights-out></v-system-bar> -->
                <!-- <v-img
                  height="170"
                  src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
                ></v-img> -->
                <v-row dense>
                  <v-col cols="12" class="mt-n1">
                    <v-img
                      v-if="item.hasManyImage.length > 0"
                      :src="item.hasManyImage[0].path"
                      :lazy-src="require('~/assets/image/nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg')"
                      class="white--text align-end "
                      height="115px"
                      width="350px"
                    >
                    </v-img>
                    <v-img
                      v-if="item.hasManyImage.length <= 0"
                      height="170"
                      :src="require('~/assets/image/nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg')"
                    ></v-img>
                  </v-col>
                </v-row>
                <!-- <v-card>  @click="activateImage(index)" -->
                <v-row dense>
                  <v-col
                    v-for="image in item.hasManyImage"
                    :key="image.id"
                    cols="3"
                  >
                    <v-img
                      :src="image.path"
                      class="white--text align-end mt-n1 mr-n1"
                      height="50px"
                    >
                    </v-img>
                  </v-col>
                </v-row>

                <v-card-title class="titleStyle ">{{ item.title }}</v-card-title>
                <v-card-text class="cardElement">
                  <p class="typeStyle">{{ item.type }}</p>
                  <v-row align="center" class="mx-auto">
                    <v-rating
                      :value="item.average_rate ? item.average_rate : 0"
                      color="teal"
                      dense
                      half-increments
                      readonly
                      size="18"
                      class="mb-4"
                    ></v-rating>
                    <!-- <v-spacer /> -->
                    <!-- <div class="grey--text ml-4 ">your</div> -->
                  </v-row>
                 <!-- <v-row align="center" class="mx-auto" v-else>
                    <v-rating
                      v-model="item.average_rate"
                      color="teal"
                      dense
                      half-increments
                      readonly
                      size="18"
                      class="mb-4"
                    ></v-rating>

                  </v-row> -->
                  
                  <div class="mt-1 listDiv">
                    <v-icon color="teal" class="mr-2 mb-1">mdi-clock-start</v-icon>
                   <span class="" >  Event date -</span>
                    <span class="teal--text">{{ item.event_date }} </span> G.C at 
                    <span class="teal--text">{{ item.event_time }}</span>
                  </div>
                  <div class="mt-2 listDiv">
                    <v-icon color="teal" class="mr-2 listDiv"
                      >mdi-currency-usd</v-icon
                    >
                    <span class="">Price For single Ticket -</span>
                    <span class="teal--text">{{ item.price }}</span> Birr.
                  </div>
                  <div class="mt-2 listDiv">
                    <v-icon color="teal" class="mr-2 listDiv">mdi-seat</v-icon>
                    <span class="">Available Seat -</span>
                    <span class="teal--text">{{ item.total_ticket }}</span
                    >.
                  </div>
                </v-card-text>

                <v-divider class="mx-4 teal lighten-2"></v-divider>


                <!-- <v-card-actions class="mt-n1">
                  <v-btn
                    color="teal"
                    text
                    
                    @click="seeMore(item.id)"
                  >
                    see more
                  </v-btn>
                </v-card-actions> -->
              </v-card>
            </v-flex>
          </v-flex>
        </v-layout>
      </template>
    </v-data-iterator>
    <div class="text-center mt-12">
      <v-pagination
        v-model="page"
        color="teal"
        circle
        :length="paginationLength"
        @input="displayPage(page)"
      ></v-pagination>
    </div>
  </v-container>
  <!-- </v-app> -->
</template>

<style scoped>
.dashlayout {
  margin-top: 3%;
}
.titleDivider {
  margin-top: -2%;
  margin-bottom: 2%;
}
.typeStyle {
  margin-top: -5%;
  font-size: 100% !important;
}
.titleStyle{
  font-size: 130% !important;
}
.listDiv {
  margin-top: -3%;
}
.span {
  color: teal;
}
.textSearch {
  margin-left: 36%;
}
.toolbarRow {
  margin-left: 50%;
}
.cardElement{
  font-size: 90% !important;
}
</style>