<template>
  <!-- <v-container> -->
  <v-carousel cycle width="100%" hide-delimiters show-arrows-on-hover>
    <v-carousel-item
      v-for="(slide, i) in items"
      :key="i"
      :src="slide.src"
      class="carouselItem"
    >
      <!-- <v-sheet
        :color="colors[i]"
        height="100%"
      >-->
      <v-layout align-center fill-height justify-center>
        <!-- <div class="display-3">{{ slides[i] }} Slide</div> <br> -->
        <div class="button">
          <v-btn outlined to="#lists">
            <v-icon>mdi-chevron-left</v-icon> Get Out More
            <v-icon>mdi-chevron-right</v-icon></v-btn
          >
        </div>
      </v-layout>
      <!-- </v-sheet> -->
    </v-carousel-item>
  </v-carousel>
  <!-- </v-container> -->
</template>
<script>
// import gallary from "@/components/gallary";
export default {
  data() {
    return {
      items: [
        {
          src: require("@/assets/image/caro1.jpg"),
        },
        {
          src: require("@/assets/image/caro1.jpg"),
        },
        {
          src: require("@/assets/image/caro1.jpg"),
        },
        {
          src: require("@/assets/image/caro1.jpg"),
        },
      ],
    };
  },
};
</script>
<style scoped>
.inspire {
  /* width: 100vh; */
}
.button:hover {
  background-color: black;
  height: fit-content;
}
.dividerLayout {
  /* height: 100px  ; */
  margin-left: 45%;
}
.carouselItem {
  image-orientation: initial;
  opacity: 0.7;
  /* background-position: center;
  background-attachment: fixed;
  image-orientation: from-image; */
}
.mainCover {
  background-color: rgb(206, 204, 204, 0.92);
  /* opacity: 1; */
}
</style>