<template>
  <v-container>
    <!-- <v-card id="map" style="height: 50vh; width: 100%;" class="map_container"> -->
    <div id="map" style="height: 50vh; width: 100%;" ></div>
    <!-- </v-card> -->
    <!-- <v-btn @click="getCode">Get</v-btn> -->
  </v-container>
</template>
<script>
import axios from "axios";
// import GET_LOCATION_CODE from "~/apollo/map/getMap.gql";
// import GeometryUtil from "leaflet-geometryutil";
import gql from 'graphql-tag'
const GET_LOCATION_CODE = gql`
      mutation($location: String!){
    map(location: $location){
        lat
        lng

    }
}
`
export default {
  props: {
    location: {
      type: Object,
      // required: true,
    },
  },
  data() {
    return {
      current_location: [],
      // latLng: [0, 0],
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      //   http://{s}.tile.osm.org/{z}/{x}/{y}.png https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
    };
  },
  methods: {

    async getMapPoint() {
      // //   console.log(this.latLng);
      // // var latLng = this.$L.latLng([coordinates[1], coordinates[0]]); // The url template for OpenStreetMap tiles.
      // var radiusInKm = 10;
      // var angleInDegrees = 90;
      var latLng = this.$L.latLng([this.location.lat, this.location.lng]); 
      // var osmUrl = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"; // Creates the tile layer.
      // var osmTileLayer = this.$L.tileLayer(osmUrl); // Adds the tile layer to the map.
      // var map = this.$L.map("map").addLayer(osmTileLayer);
      // map.setView(latLng, 18); // Creates a marker for our departure location and adds it to the map.
      // // this.$L.marker
      // this.$L.marker(latLng).addTo(map).bindPopup(this.location);
      // DISTANCE SNIPPEST
      var center = latLng;
      var radiusInKm = 10;
      var angleInDegrees = 90;
      var map = this.$L.map('map').setView(center, 12);
      this.$L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      var marker = this.$L.marker(center).addTo(map);
      this.$L.circle(marker.getLatLng(), {
          color: 'red',
          fillColor: '#f03',
          fillOpacity: 0.2,
          radius: radiusInKm * 1000
      }).addTo(map);
      
     // GET CURRENT LOCATION    
    
    // var to = this.$L.GeometryUtil.destination(marker.getLatLng(), angleInDegrees, radiusInKm * 1000);
      // this.$L.marker(to).addTo(map);

      // console.log(this.$L.getLatLng())



    // CHECK CURRENT POSITON
  // const local_location = navigator.geolocation.getCurrentPosition(function(location) {
//       var center = latLng;
//       var radiusInKm = 10;
//       var angleInDegrees = 90;
      // var latlng = new L.LatLng(location.coords.latitude, location.coords.longitude);
      // console.log("location",latlng)
      // this.current_location.push(latLng.lat);
      // return latlng;
//   var mymap = L.map('map').setView(latlng, 13)
//   L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
//     attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://mapbox.com">Mapbox</a>',
//     maxZoom: 18,
//     id: 'mapbox/streets-v11',
//     accessToken: 'pk.eyJ1IjoibWluaWxpa3NodW1ldGUiLCJhIjoiY2tub2JvaDdxMDhyMTJ1bzcwdzJlbmZqbiJ9.msbbIVvPbCgjsEbEAaIgIw'
//   }).addTo(mymap);


//   var marker_L = L.marker(center).addTo(map);
//       this.$L.circle(marker.getLatLng(), {
//           color: 'red',
//           fillColor: '#f03',
//           fillOpacity: 0.2,
//           radius: radiusInKm * 1000
//       }).addTo(map);
//     // // GET CURRENT LOCATION
//   var marker = L.marker(latlng).addTo(mymap);
//   var to = L.GeometryUtil.destination(marker_L.getLatLng(), angleInDegrees, radiusInKm * 1000);
//   L.marker(to).addTo(mymap);
// });

    },
  },
  mounted() {
    this.getMapPoint();
    console.log(this.location)
  },
};
</script>
<style scoped>
.map_container{
  background: transparent
}
#map{
  background: transparent
}
</style>