<template>
  <div>
    <v-container class="text-center">
      <!-- <h2 class="display-2 font-weight-regular mb-3 grey--text text--darken-3">
        ABOUT US
      </h2> -->

      <v-card flat>
        <v-card-text>
          <!-- <v-responsive class="mx-auto mb-10" width="70">
            <v-divider class="mb-1" color="deep-orange"></v-divider>
          </v-responsive> -->
          <v-responsive
            class="mx-auto subtitle-1 font-weight-regular mb-8 text-justify grey--text text--darken-3"
            max-width="720"
          >
            Contrary to popular belief, not simply random text. It has roots in
            a piece of classical Latin literature from 45 BC, making it over
            2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in classical literature,
            discovered the undoubtable source. Lorem Ipsum comes from sections
            1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
            of Good and Evil).
          </v-responsive>
          <v-responsive class="mx-auto mb-10" width="70">
            <v-divider class="mb-1" color="deep-orange"></v-divider>
          </v-responsive>
        </v-card-text>
      </v-card>

      <!-- <v-avatar class="elevation-12 mb-12" size="128">
        <v-img :src="favicon"></v-img>
      </v-avatar> -->
    </v-container>

    <!-- <v-card flatd>
      <v-card-text>
        <v-row>
          <v-col v-for="n in 4" :key="n" class="d-flex child-flex" cols="">
            <v-img
              :src="`https://picsum.photos/500/300?image=${n * 5 + 10}`"
              :lazy-src="`https://picsum.photos/10/6?image=${n * 5 + 10}`"
              aspect-ratio="1"
              class="grey lighten-2"
            >
              <template v-slot:placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                  <v-progress-circular
                    indeterminate
                    color="grey lighten-5"
                  ></v-progress-circular>
                </v-row>
              </template>
            </v-img>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card> -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      //   favicon: `${require("@/static/favicon.png")}`,
    };
  },
};
</script>
