<template>
  <v-app class="body">
    <v-carousel
      cycle
      width="100%"
      hide-delimiters
      show-arrows-on-hover
      height="300px"
    >
      <v-carousel-item
        v-for="(slide, i) in caroImage"
        :key="i"
        :src="slide.path"
        class="carouselItem"
      >
        <v-layout align-center fill-height justify-center>
          <div class="button">
            <v-btn outlined to="#lists">
              <v-icon>mdi-chevron-left</v-icon> Get Out More
              <v-icon>mdi-chevron-right</v-icon></v-btn
            >
          </div>
        </v-layout>
        <!-- </v-sheet> -->
      </v-carousel-item>
    </v-carousel>
    <div id="lists" class="3">
      <p class="text-center mt-6 text-capitalize topic teal--text">
        {{$t('latest')}} <span class="grey--text">{{$t('event')}}</span>
        <v-divider width="10%" class="dividerLayout"></v-divider>
      </p>
      <user-dashboard />
    </div>
  </v-app>
</template>
<script>
import gql from 'graphql-tag'
// import UserDashboard from "~/components/user/userDashboard.vue";
import GET_CARO_IMAGES from "~/apollo/image/get_image.gql";
import GET_SUBSCRIBED from "~/apollo/tickets/get_user_ticket.gql";

const GET_OLD_EVENTS = gql`
   query get_new_event {
     events(order_by:{event_date: desc}, limit: 1) {
       id
       title
       type
      location
     }
   }
 `;
  const NOTIFY_NEW_EVENT = gql`
    subscription notifayNewEvent {
      events(order_by:{event_date: desc}, limit: 1) {
        id
        title
        type
        location
      }
    }
  `;
  // (
  //       where: { status: { _eq: "active" }} 
  //       # limit: 1
  //     )
export default {
  layout: "org_layout",
  // middleware: "authenticate",
  data() {
    return {
      caroImage: [],
      // events:[],
      existing_events: [],
      online_list: []
    };
  },
  methods: {
    async getCaroImages() {
      const data = await this.$apollo.query({
        query: GET_CARO_IMAGES,
      });
      console.log("Images" + data.data.images);
      this.caroImage = data.data.images;
    },
    async getSubscribed() {
      let variables = {userId: this.$store.getters["user/userId"]}
      const data = await this.$apollo.query({
        query: GET_SUBSCRIBED,
        variables
      });
      // console.log("subscription" , data);
      this.$store.dispatch("user/setTickets_a", data.data.tickets)
      console.log("User tickets",data.data.tickets);
    },
    
  },
  mounted() {
    this.getCaroImages();
    this.getSubscribed();
    // this.loadOlderEvent()
  },
};
</script>
<style scoped>
.inspire {
  /* width: 100vh; */
}
.button:hover {
  background-color: black;
  height: fit-content;
}
.dividerLayout {
  /* height: 100px  ; */
  margin-left: 45%;
}
.carouselItem {
  image-orientation: initial;
  opacity: 0.7;
  /* background-position: center;
  background-attachment: fixed;
  image-orientation: from-image; */
}
.mainCover {
  /* background-color: rgb(206, 204, 204, 0.92); */
  /* opacity: 1; */
}
.topic{
  font-size: 170%;
}
</style>