// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
$body-font-family: "Dancing Script";
$heading-font-family: "Dancing Script";
$font-size-root: 15px;
@import "~vuetify/src/styles/styles.sass";
// The variables you want to modify
// $font-size-root: 20px;
