<script>
import gql from "graphql-tag";
import GET_SEARCHED from "~/apollo/event/search.gql"
// const GET_SEARCHED = gql`
 
// `;
export default {
  layout: "org_layout",
  data() {
    return {
      src: require("@/assets/image/newEvent1.jpeg"),
      id: this.$route.params.id,
      events: [],
      append: '%',
      prepend: '%',
      search: "",
      // has_event: false
    };
  },
  computed:{
     has_event(){
      return this.events.length == 0
    },
    computed_event(){
      return this.events
    }
  },
methods: {
  go_to_detail(item){
    if(item.orgId === this.$store.getters["user/userId"]){
       this.$router.push('/organizer/event_setting/' + item.id);
    } else {
       this.$router.push('/user/seeMore/' + item.id);
    }

  }
},
  apollo: {
    events: {
      query: GET_SEARCHED,
      variables() {
       return {
          search: this.prepend + this.search + this.append,
          // orgId: this.id
        };
      },
     debounce: 1000,
      skip() {
        return !this.search;
      },
    },
  },
  
};
</script>

<template>
  <!-- <v-app> -->
  <v-container>
    <!-- <v-img :src="src"
    height="50"> -->

      <div class="searchStyle">
        <h1 class="teal--text search mb-2" >{{$t('search_events')}}</h1>
      <!-- <v-card> -->
      <v-text-field
       v-model="search"
        clearable
        flat
        color="teal"
        outlined
        hide-details
        prepend-inner-icon="mdi-magnify"
        :label="$t('search')"
        rounded
        style="max-width: 500px"
        class=""
      ></v-text-field>
      <!-- </v-card> -->
    </div>
    <div class="result">
      <h2 class="text-capitalize teal--text" style=" font-size: 150%;">{{$t('result')}}</h2>
    </div>
    <v-divider></v-divider>
    <p class="info--text text-center mt-7" v-if="has_event"> No search result!</p>

    <!-- </v-img> -->
   <v-layout wrap>
        <v-flex
      v-for="item in computed_event"
      :key="item.title"
      md4
      lg4
      sm6
      xs12
      @click="go_to_detail(item)"
      class="mx-auto cardStyle"
    >
      <!-- <v-flex
        class="mt-4 mx-auto"
        
      > -->
      <v-card :hover="true" width="360px" class="mx-auto">
        <!-- <v-system-bar lights-out></v-system-bar> -->
        <v-row>
                  <v-col cols="12">
                    <v-img
                      v-if="item.hasManyImage.length > 0"
                      :src="item.hasManyImage[0].path"
                      class="white--text align-end"
                      height="115px"
                      width="390px"
                    >
                    </v-img>
                    <v-img
                      v-if="item.hasManyImage.length <= 0"
                      height="170"
                      src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
                    ></v-img>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col
                    v-for="image in item.hasManyImage"
                    :key="image.id"
                    cols="3"
                  >
                    <v-img
                      :src="image.path"
                      class="white--text align-end mt-n5 "
                      height="50px"
                    >
                    </v-img>
                  </v-col>
                </v-row>
         <v-card-title>{{ item.title }}</v-card-title>
           <v-card-text>
            <p class="typeStyle">{{ item.type }}</p>
           <v-row align="center" class="mx-0 mb-2">
            <v-rating
              :value="item.average_rate"
              color="teal"
              dense
              half-increments
              readonly
              size="18"
            ></v-rating>
          </v-row>

          <!-- <div class="mt-2 subtitle-1">
            <v-icon color="teal" class="mr-2 mb-1">mdi-map-marker</v-icon>
            Location -
            <span class="teal--text">{{ item.location }}</span>
          </div> -->
          <div class="listDiv">
            <v-icon color="teal" class="mr-2 mb-1">mdi-clock</v-icon>
            Event date -
            <span class="teal--text">{{ item.event_date }} </span> G.C at
            <span class="teal--text">{{ item.event_time }}</span>
          </div>
          <div class="mb-3 listDiv">
            <v-icon color="teal" class="mr-2 listDiv">mdi-currency-usd</v-icon>
            Price For single Ticket -
            <span class="teal--text">{{ item.price }}</span> Birr.
          </div>
          <div class="mb-3 listDiv">
            <v-icon color="teal" class="mr-2 listDiv">mdi-seat</v-icon>
            Available Seat -
            <span class="teal--text">{{ item.total_ticket }}</span
            >.
          </div>
        </v-card-text>
      </v-card>
      <!-- Dialog popup displaying event settings and enough details -->
    </v-flex>
   </v-layout>
    <!-- </v-flex> -->
  </v-container>
  <!-- </v-app> -->
</template>

<style scoped>
.searchStyle {
  margin-left: 30%;
  margin-top: 8%;
}
.cardStyle {
  margin-top: 10%;
}
.search{
  margin-left: 16%;
  font-size: 200% !important;
}
.result{
  margin-left: 49%;
  margin-top: 4%;
}
</style>