<template>
  <v-app class="body">
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
      class="teal darken-1"
      dark
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      :clipped-left="clipped"
      app
      color="grey lighten-4"
      fixed
      flat
      class="application"
    >
      <!-- <v-app-bar-nav-icon @click.stop="drawer = !drawer" /> -->
      <!-- <v-toolbar-title class="">Minilik Shumete</v-toolbar-title> -->
      <v-layout>
        <v-avatar>
          <img :src="src" alt="John" />
        </v-avatar>
        <v-toolbar-title class="ml-4 mt-2">Minilik Shumete</v-toolbar-title>
        <v-spacer />

        <nuxt-link
          v-for="(route, i) in routes"
          :key="i"
          :to="route.to"
          class="lists ml-9 button grey--text text--darken-4"
          >{{ route.title }}</nuxt-link
        >
        <v-tooltip bottom min-width="90">
          <template v-slot:activator="{ on, attrs }">
            <v-btn class="btn" icon large v-bind="attrs" v-on="on">
              <v-icon>mdi-account-cog</v-icon>
            </v-btn>
          </template>
          <span>Account Setting</span>
        </v-tooltip>
        <v-tooltip bottom min-width="90">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon class="ml-3" v-bind="attrs" v-on="on">
              <v-badge color="green" content="6">
                <v-icon size="30" dark class="mb-1">
                  mdi-bell-circle-outline
                </v-icon>
              </v-badge>
            </v-btn>
          </template>
          <span>Notification</span>
        </v-tooltip>
        <v-tooltip bottom min-width="90">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon class="mb-1 ml-6" size="30" dark>mdi-logout</v-icon>
            </v-btn>
          </template>
          <span>signed Out</span>
        </v-tooltip>
      </v-layout>
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <!-- <v-navigation-drawer v-model="rightDrawer" :right="right" temporary fixed>
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light> mdi-repeat </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer> -->
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      // src: require("@/assets/image/events-banner.gif"),
      clipped: false,
      drawer: false,
      fixed: false,
      routes: [
        { title: "Home", to: "/user_dash" },
        { title: "Your Subscription", to: "/user/subscribed" },
        { title: "Feed back", to: "/user/user_dash" },
        { title: "About Us", to: "/user/user_dash" },
      ],
      items: [
        {
          icon: "mdi-apps",
          title: "Welcome",
          to: "/",
        },
        {
          icon: "mdi-chart-bubble",
          title: "Inspire",
          to: "/inspire",
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "Vuetify.js",
    };
  },
};
</script>
<style scoped>
.body {
  /* image: url("~/assets/image/dog.jpg"); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: gray; */
}
.toolbar_style {
  margin-left: 20%;
  margin-right: 20%;
}
.button {
  margin-right: 5px;
  text-decoration: none;
  font-weight: 400;
}
.application {
  font-family: "Raleway", sans-serif !important;
}
.lists:link,
.lists:visited {
  padding: 10px 0;
  color: #fff;
  font-size: 115%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}
.lists:hover {
  transition: border-bottom 0.5s;
  border-bottom: 2px solid #e67e22;
}
.nuxt-link-exact-active.lists {
  border-bottom: 2px solid teal;
}
.span {
  text-transform: capitalize;
}
</style>
