<template>
  <v-container dark>
    <v-flex>
      <div class="divStyle">
        <h1 v-if="error.statusCode === 404">
          <p class="head text-center red--text">Error Occured!</p>
          <!-- <NuxtLink to="/"> Home page </NuxtLink> -->
        </h1>
        <h1 v-else>
          <p class="title">Something Wents Wrong!</p>
          <!-- <NuxtLink to="/"> Home page </NuxtLink> -->
        </h1>
      </div>
    </v-flex>
  </v-container>
</template>

<script>
// import footerLayout from "~/components/footer.vue";
export default {
  layout: "common",
  props: {
    error: {
      type: Object,
      // default: null,
    },
  },
  data() {
    return {
      pageNotFound: "404 Not Found",
      otherError: "An error occurred",
    };
  },
  components: {
    // footerLayout,
  },
  head() {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError;
    return {
      title,
    };
  },
};
</script>

<style scoped>
h1 {
  font-size: 20px;
}
.divStyle {
  margin-top: 10%;
}
.footerStyle {
  margin-top: 8%;
}
</style>
