<template>
  <v-app dark class="body">
    <v-main>
      <v-container>
        <!-- <gallary /> -->
        <navbar />
    <div style="margin-top:40px" class="fill-height">
          <nuxt />
        </div>
      </v-container>
    </v-main>

    <!-- <v-footer dark padless class="footerStyle"> -->
    <footer-layout />
    <!-- </v-footer> -->
  </v-app>
</template>

<script>
import footerLayout from "~/components/footer.vue";
import navbar from "./navbar.vue"
// import gallary from '@/components/gallary'
export default {
  components: {
    footerLayout,
    navbar
  },
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      // miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "Zion Automobiles center.com",
    };
  },
};
</script>
<style scoped>
.body {
   background-image: url("/back_3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* opacity: 0.2; */
  background-color: rgba(248, 248, 248, 0.92);
}

.footerStyle {
  margin-top: 8%;
}
</style>
