<script>
export default {
    data(){
        return {
            // languageName: [{ langName: 'English' }, { langName: 'አማርኛ' }],
             upAndDownIcons: [
            { iconName: 'mdi-chevron-up' },
            { iconName: 'mdi-chevron-down' },
      ],
      languageChoice: [{ langName: 'English' }, { langName: 'አማርኛ' }],
      checkIcon: true,
        }
    },
    methods: {
         iconClicked() {
      this.checkIcon = !this.checkIcon
    },
    changeLocale() {
      this.$i18n.setLocale(this.$i18n.locale === 'en' ? 'et' : 'en')
      this.changeLangBtn()
      this.iconClicked()
    },
    changeLangBtn() {
      this.languageChoice[0].langName = this.$i18n.locales.filter(
        (i) => i.code === this.$i18n.locale
      )[0].name
      this.languageChoice[1].langName = this.$i18n.locales.filter(
        (i) => i.code !== this.$i18n.locale
      )[0].name
    },
    },
    // created(){
    //     this.changeLocale()
    // }
}
</script>

<template>
    <v-container>
        <v-app-bar fixed flat height="80px">
        
            <v-toolbar height="80px" flat>
                <div
                    style="text-decoration:none"
                    @click="
                    $router.push(
                        '/'
                    )
                    "
                >
                    <img src="/logo3.png" height="66px" class="py-0 my-0" />
                </div>
                       <!-- <div class="teal--text font-weight-bold text-h5">
                         Welcome to JP-event-organizer.COM
                    </div>  -->
                    <v-spacer />
                <v-toolbar-items class="pl-12">
                <!-- </v-toolbar-items> -->
                <v-spacer />
                <v-list-item class="ml-10">
                    <v-menu offset-y>
                    <template #activator="{ on, attrs }">
                        <span
                        class="langSpan teal--text"
                        v-bind="attrs"
                        v-on="on"
                        @click="iconClicked"
                        >
                        {{$t('lng')}}
                        <!-- {{ languageChoice[0].langName }} -->
                        <v-icon small class="pb-1">
                            {{
                            checkIcon
                                ? upAndDownIcons[0].iconName
                                : upAndDownIcons[1].iconName
                            }}
                        </v-icon>
                        </span>
                    </template>
                    <v-list dense class="teal--text">
                        <v-list-item link @click="changeLocale">
                        <v-list-item-title>
                            {{ languageChoice[1].langName }}
                        </v-list-item-title>
                        </v-list-item>
                        <!-- <v-list-item>
                        <v-list-item-title>
                            {{ languageChoice[0].langName }}
                        </v-list-item-title>
                        </v-list-item> -->
                    </v-list>
                    </v-menu>
                </v-list-item>
                <v-list-item>
                    <v-btn link
                    text 
                    class="teal--text menu-font px-3 text-capitalize"
                    to="/">
                        {{$t('home')}}
                    </v-btn>
                </v-list-item>
                <v-list-item>
                    <v-btn link text
                    class="teal--text menu-font px-3 text-capitalize"
                    to="/about">
                        {{$t('about')}}
                    </v-btn>
                </v-list-item>
                <v-list-item>
                    <v-btn 
                    to="/login" text link
                    class=" menu-font px-3  teal--text text-capitalize"
                     >
                       {{$t('login')}}
                    </v-btn>
                </v-list-item>
                <div class=" teal--text pt-7">/</div>
                <v-list-item>
                    <v-btn 
                    to="/signup" link text
                    class="menu-font px-3  teal--text text-capitalize">
                         {{$t('register')}}
                    </v-btn>
                </v-list-item>
                </v-toolbar-items>
            </v-toolbar>
        </v-app-bar>
    </v-container>
</template>