<template>
  <v-app dark class="body">
    <v-app-bar
      :clipped-left="clipped"
      app
      color=""
      fixed
      flat
      class="application"
    >
      <v-layout>
        <!-- <v-app-bar-nav-icon @click.stop="drawer = !drawer"   /> -->
        
        <v-toolbar flat color="grey lighten-3">
          <v-avatar class="ml-5" size="55">
          <img
            :src="$store.getters['user/path']?$store.getters['user/path']:require('~/assets/image/profile.jpg')"
            :alt="$store.getters['user/username']"
          />
          <!-- <expandable-image :src="$store.getters['user/path']"></expandable-image> -->
        </v-avatar>

        <v-toolbar-title class="ml-4 pt-2">{{
          $store.getters["user/username"]
        }}</v-toolbar-title>
        <v-spacer />
        <v-toolbar-items class="menu-font">
        <v-list-item>
          <nuxt-link
          v-for="(route, i) in routes"
          :key="i"
          :to="route.to"
          class="lists ml-9 button teal--text menu-font"
        >
          {{ route.title }}</nuxt-link
        >
        </v-list-item>
        <v-divider vertical class="mx-3"></v-divider>
        <v-tooltip bottom min-width="90" color="teal">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="btn"
              icon
              large
               :to="'/organizer/search/' + $store.getters['user/userId']"
              v-bind="attrs"
              v-on="on"
            >
              <v-icon>mdi-magnify</v-icon>
            </v-btn>
          </template>
          <span>Search Events</span>
        </v-tooltip>
        <v-tooltip bottom min-width="90" color="teal">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="btn"
              icon
              large
              @click="$router.push('/user/settings/' + $store.getters['user/userId'])"
              v-bind="attrs"
              v-on="on"
            >
              <v-icon>mdi-account-settings-outline</v-icon>
            </v-btn>
          </template>
          <span>Account Setting</span>
        </v-tooltip>
        <v-tooltip bottom min-width="90" color="teal">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on" @click="logOut">
              <v-icon class="ml-4" size="30" dark>mdi-logout-variant</v-icon>
            </v-btn>
          </template>
          <span>Sign Out</span>
        </v-tooltip>
        <!-- account setting dialog -->
        </v-toolbar-items>
        </v-toolbar>
      </v-layout>
    </v-app-bar>
    <v-main>
      <!-- <v-container> -->
      <!-- <gallary /> -->
      <div>
        <nuxt />
      </div>
      <!-- </v-container> -->
    </v-main>
    <!-- Drawer  -->
    <!-- <v-navigation-drawer
      :right="right"
      :clipped="clipped"
      fixed
      class="grey lighten-2"
      app
    >
      <v-list-item
        @click.native="right = !right"
        class="py-2 light-blue darken-4"
        link
        dark
      >
        <v-avatar>
          <img :src="$store.getters['user/path']" alt="John" />
        </v-avatar>
      </v-list-item>
      <v-divider />
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content class="blue--text">
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer> -->
    <footer-layout />
  </v-app>
</template>

<script>
import footerLayout from "~/components/footer.vue";
import {gapi} from 'gapi-script'
import UPLOAD from "~/apollo/image/get_image_url.gql"
import UPDATE_PIC from "~/apollo/user/update_account.gql";

export default {
  components: {
    // gallary
    footerLayout,
  },
  middleware: "authenticate",
  data() {
    return {
      accSettingDialog: false,
      clipped: false,
      drawer: false,
      routes: [
        {
          icon: "mdi-apps",
          title: this.$t('home'),
          to: "/user/user_dash",
        },
        {
          title: this.$t('create_new'),
          to: "/organizer/createEvent/" + this.$store.getters["user/userId"],
          icon: "mdi-plus",
        },
        {
          title: this.$t('my_event'),
          to: "/organizer/dataTable",
          icon: "mdi-plus",
        },
        {
          icon: "mdi-playlist-check",
          title: this.$t('history'),
          to: "/user/subscribed/" + this.$store.getters["user/userId"],
        },
        { title: this.$t('about'), to: "/organizer/org_about", icon: "mdi-account" },
         
        // {
        //   title: "Search",
        //   to: "/organizer/search",
        //   icon: "mdi-magnify",
        // },
      ],
      items: [
        {
          icon: "mdi-apps",
          title: "Home",
          to: "/organizer/organizer_dash",
        },
        {
          icon: "mdi-newspaper",
          title: "Add My Event",
          to: "/organizer/addEvents",
        },
        {
          icon: "mdi-information",
          title: "About Us",
          to: "/organizer/org_about",
        },
        {
          icon: "mdi-comment-quote-outline",
          title: "Your feedback",
          to: "/userfeedback",
        },
      ],
      // miniVariant: false,
      right: true,
      // add event models
      snackbar: false,
      image: [],
      getImage: [],
      hasManyImage: [],
      fullEventInfo: {},
      image_preview: ""
    };
  },
  computed: {
    checkFields() {
      if (this.title === "" || typeof parseInt(this.price) == NaN) {
        return true;
      }

      return false;
    },
  },
  methods: {
    logOut() {
     this.$store.commit('user/logout');
     this.$store.commit('event/clear_data');
     this.$router.push('/login')
    },
    cancelDialog(){
      this.image_preview = "";
      this.accSettingDialog =false
    },
    async saveChanges(){
      // confirm profile change
      this.uploadImage()
    },
    handleImage(e) {
      const selectedImage = e;

      this.createBase64Image(selectedImage);
    },
     createBase64Image(fileObject) {
      const reader = new FileReader();

      reader.onload = (e) => {
        this.image = e.target.result;
      };

      reader.readAsDataURL(fileObject);
      this.image_preview = window.URL.createObjectURL(fileObject)
    },
    // Upload image
     async uploadImage() {
      const { image } = this;
      let variables = {
        image,
      };
      const data = await this.$apollo.mutate({
        mutation: UPLOAD,
        variables,
      });
      console.log(data);
      const path = data.data.uploadImage.imagePath;
      variables = { id: this.$store.getters["user/userId"], path };
      const pic_result = await this.$apollo.mutate({
        mutation: UPDATE_PIC,
        variables,
      });
      console.log(pic_result);
      this.$store.dispatch("user/setPath_a", path);
      this.accSettingDialog = false;
    },
  },
};
</script>
<style scoped>
.body {
  /* background-image: url("/image/car.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; */
  /* opacity: 0.2; */
  background-color: rgba(248, 248, 248, 0.92);
}
* {
  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
  font-family: "Lato", sans-serif !important;
}
.footerStyle {
  margin-top: 8%;
}
.button {
  margin-right: 5px;
  text-decoration: none;
  font-weight: 400;
}
.application {
    font-family: "Lato", sans-serif !important;
    /* background: transparent; */
    z-index: 1001;
}
.lists:link,
.lists:visited {
  padding: 10px 0;
  color: #fff;
  font-size: 115%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}
.lists:hover {
  transition: border-bottom 0.5s;
  border-bottom: 2px solid #2270e677;
}
.nuxt-link-exact-active.lists {
  border-bottom: 2px solid teal;
}
</style>
