<template>
  <v-app dark class="body">
    <!-- Navigation drawer -->
    <v-navigation-drawer
      v-model="drawer"
      :clipped="clipped"
      fixed
      app
      class="grey lighten-3"
      dark
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon class="teal--text">{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content class="teal--text">
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      :clipped-left="clipped"
      app
      color="grey lighten-3"
      fixed
      flat
      class="application"
    >
      <v-app-bar-nav-icon
        class="teal--text mx-auto"
        @click.stop="drawer = !drawer"
      />
      <v-layout>
        <!-- <v-app-bar-nav-icon @click.stop="drawer = !drawer"   /> -->
      <v-avatar>
          <img v-if="$store.getters['user/path']"
            :src="$store.getters['user/path']"
            :alt="$store.getters['user/username']"
          />
          <img v-else
            :src="require('~/assets/image/profile.jpg')"
            :alt="$store.getters['user/username']"
          />
          <!-- <expandable-image :src="$store.getters['user/path']"></expandable-image> -->
        </v-avatar>
        <v-toolbar-title class="ml-4 mt-2">{{
          $store.getters["user/username"]
        }}</v-toolbar-title>
        <v-spacer />

        <nuxt-link
          v-for="(route, i) in routes"
          :key="i"
          :to="route.to"
          class="lists ml-9 button teal--text"
          >{{ route.title }}</nuxt-link
        >
        <v-divider vertical class="mx-3"></v-divider>
        <!-- <v-tooltip bottom min-width="90" color="teal">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="btn "
              icon
              large
              :to="'/user/search/' + $store.getters['user/userId']"
              v-bind="attrs"
              v-on="on"
            >
            <v-icon>mdi-magnify</v-icon>
            </v-btn>
          </template>
          <span>Search Events</span>
        </v-tooltip> -->
        <v-tooltip bottom min-width="90" color="teal">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="btn"
              icon
              large
              @click.stop="accSettingDialog = true"
              v-bind="attrs"
              v-on="on"
            >
              <v-icon>mdi-account-settings-outline</v-icon>
            </v-btn>
          </template>
          <span>Account Setting</span>
        </v-tooltip>
         <div>
              <!-- menu -->
            <v-menu
                ref="menu"
                v-model="menu2"
                :nudge-right="40"
                :close-on-content-click="false"
                :return-value.sync="click_event"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
                
              >
                  <template v-slot:activator="{ on, attrs }">
                    <v-tooltip bottom min-width="90" color="teal">
                    <template v-slot:activator="{ on, attrs }">
                    <v-btn icon class="ml-3" v-bind="attrs" v-on="on">
                      <v-badge color="teal" content="5">
                        <v-icon size="27" dark class="" 
                        @click="menu2 = true" 
                        v-bind="attrs"
                        v-on="on" > mdi-bell-outline </v-icon>
                      </v-badge>
                      </v-btn>
                      </template>
                    <span>Notification</span>
                  </v-tooltip>
                    </template>
                 <v-card class="grey lighten-3">
                   <v-card-title class="teal lighten-3 white--text">Upcomming Events</v-card-title><v-divider class="my-2" />
                     <v-row v-for="(item,i) in 5" :key="i">
                      <v-col cols="12">
                         <v-card @click="directNofication" class="mt-n4" flat>
                          <!-- <v-card-title >Upcomming events</v-card-title> -->
                          <v-card-text>
                            <p style="font-size: 100%">New Event is posted here</p>
                          </v-card-text>
                    <!-- <v-card-actions class="justify-space-between">
                      <v-btn text @click="menu2 = false"> No Thanks </v-btn>
                      <v-btn color="teal" text @click="rateEvent">
                        Rate Now
                      </v-btn>
                    </v-card-actions> -->
                  </v-card>
                      </v-col>
                   </v-row>
                 </v-card>
              </v-menu>
            </div>
        <v-tooltip bottom min-width="90" color="teal">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on" @click="logOut">
              <v-icon class="ml-4" size="27" dark
                >mdi-logout-variant</v-icon
              >
            </v-btn>
          </template>
          <span>Sign Out</span>
        </v-tooltip>
      </v-layout>
      <v-dialog
        v-model="accSettingDialog"
        width="40%"
        transition="dialog-top-transition"
      >
        <v-card>
          <v-card-title class="justify-center text-capitalize teal--text"
            >Setting your account</v-card-title
          >
          <v-divider />
          <v-card-text class="mt-5">
            <v-row>
              <v-col sm="12" class="d-flex">
                <v-text-field label="Username" color="teal" outlined dense prepend-icon="mdi-account"></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-img v-if="image_preview !=- ''" :src="image_preview" height="70px" width="100px" class="mx-auto mb-1"></v-img>
                <v-file-input
                  type="file"
                  accept="image/*"
                  label="Change profile picture"
                  @change="handleImage"
                  outlined color="teal"
                  prepend-icon="mdi-upload"
                  dense
                >
                </v-file-input
              ></v-col>
            </v-row>
          </v-card-text>
          <v-card-actions class="justify-center">
            <!-- <v-layout> -->
            <v-btn
              @click="uploadImage"
              class="teal text-capitalize"
              dark
              dense
              rounded
              text
              >save changes</v-btn
            >
            <!-- <v-btn class="primary mr-3">Save</v-btn> -->
            <v-btn
              class="red white--text text-capitalize"
              dense
              text
              rounded
              @click="cancelDialog"
            >
              cancel</v-btn
            >
            <!-- </v-layout> -->
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-app-bar>
    <v-main>
      <!-- <v-container> -->
      <!-- <gallary /> -->
      <div>
        <nuxt />
      </div>
      <!-- </v-container> -->
    </v-main>
    <footer-layout />
  </v-app>
</template>

<script>
import footerLayout from "~/components/footer.vue";
import UPDATE_PIC from "~/apollo/user/update_account.gql";
import {gapi} from 'gapi-script'
import UPLOAD from "~/apollo/image/get_image_url.gql"
export default {
  components: {
    footerLayout,
  },
  middleware: "authenticate",
  data() {
    return {
      accSettingDialog: false,
      clipped: false,
      drawer: false,
      fixed: false,
      menu2: false,
      click_event:0,
      image_preview: "",
      routes: [
        { title: "Home", to: "/user/user_dash" },
        {
          title: "Events",
          to: "/user/subscribed/" + this.$store.getters["user/userId"],
        },
        {title: "Search", to: "/user/search/" + this.$store.getters["user/userId"]},
        { title: "About Us", to: "/user/about" },


      ],
      items: [
        {
          icon: "mdi-apps",
          title: "Home",
          to: "/user/user_dash",
        },
        {
          icon: "mdi-playlist-check",
          title: "Events",
          to: "/user/subscribed/" + this.$store.getters["user/userId"],
        },
        {
          icon: "mdi-information-outline",
          title: "About",
          to: "/user/about",
        },
        // {
        //   icon: "mdi-table",
        //   title: "Table Presentation",
        //   to: "/user/settings/" + this.$store.getters["user/userId"],
        // },
        {
          icon: "mdi-magnify",
          title: "Search",
          to: "/user/search/" + this.$store.getters["user/userId"],
        },
      ],

      // miniVariant: false,
      right: true,
      rightDrawer: false,
    };
  },
  methods: {
    logOut() {
       this.$store.commit('user/logout');
       this.$router.push('/login')
    },
    cancelDialog(){
      this.accSettingDialog = false;
      this.image_preview = "";
    },
    handleImage(e) {
      const selectedImage = e;

      this.createBase64Image(selectedImage);
    },
    createBase64Image(fileObject) {
      const reader = new FileReader();

      reader.onload = (e) => {
        this.image = e.target.result;
      };

      reader.readAsDataURL(fileObject);
      this.image_preview = window.URL.createObjectURL(fileObject)
    },
    async uploadImage() {
      const { image } = this;
      let variables = {
        image,
      };
      const data = await this.$apollo.mutate({
        mutation: UPLOAD,
        variables,
      });
      console.log(data);
      const path = data.data.uploadImage.imagePath;
      variables = { id: this.$store.getters["user/userId"], path };
      const pic_result = await this.$apollo.mutate({
        mutation: UPDATE_PIC,
        variables,
      });
      console.log(pic_result);
      this.$store.dispatch("user/setPath_a", path);
      this.accSettingDialog = false;
    },
    directNofication(){
      window.alert("New Event is gonna be showed!")
    }
  },
};
</script>
<style scoped>
.body {
  /* background-image: url("~/assets/image/dog.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; */
  /* opacity: 0.2;*/
  background-color: rgba(248, 248, 248, 0.92);
}
* {
  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
  font-family: "Lato", sans-serif !important;
}
.footerStyle {
  margin-top: 8%;
}
.button {
  margin-right: 5px;
  text-decoration: none;
  font-weight: 400;
}
.application {
  font-family: "Lato", sans-serif !important;
  z-index: 1001;
}
.lists:link,
.lists:visited {
  padding: 10px 0;
  color: #fff;
  font-size: 115%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}
.lists:hover {
  transition: border-bottom 0.5s;
  border-bottom: 2px solid #9986ee;
}
.nuxt-link-exact-active.lists {
  border-bottom: 2px solid teal;
}
.span {
  text-transform: capitalize;
}
</style>
