<template>
  <v-app>
    <div>
      <v-img :src="src" height="450px" position="center" sizes="cover">
        <!-- <v-layout row class="white--text" justify-end>
          <v-spacer></v-spacer>
          <v-flex>
            <div class="subheading">Jonathan Lee</div>
          </v-flex>
        </v-layout> -->
        <v-row align="end" class="lightbox white--text fill-height pa-2">
          <v-col>
            <v-container>
              <div class="headline">About Us</div>
            </v-container>
          </v-col>
        </v-row>
      </v-img>
    </div>
    <div class="block">
      <v-container>
        <v-responsive
            class="mx-auto font-weight-regular mb-8 text-justify grey--text text--darken-3"
            max-width="720" style="font-size: 115%"
          >
            Contrary to popular belief, not simply random text. It has roots in
            a piece of classical Latin literature from 45 BC, making it over
            2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage.
          </v-responsive>
      </v-container>
    </div>
    <v-divider class="mt-8"></v-divider>
    <div class="block">
      <v-container class="mb-12">
        <h2 class="text-center font-weight-light">Our Teams</h2>
        <v-divider class="divider black"></v-divider>
        <v-row>
          <v-col v-for="(item,i) in items" :key="i" cols="4">
            <!-- <v-card class="mx-auto rounded-tr-xl" flat >
              <v-img class="white--text" height="260px" :src="item.src">
              </v-img>

              <v-card-text class="text-center">
                <div class="title primary--text">{{ item.name }}</div>
                <p>{{ item.title }}</p>
              </v-card-text>
            </v-card> -->
             <v-card
            class="mx-auto"
            max-width="344"
          >
            <v-img
              :src="item.src"
              height="200px"
            ></v-img>

            <v-card-title>
              Top western Ethiopian road trips
            </v-card-title>

            <v-card-subtitle>
              1,000 miles of wonder
            </v-card-subtitle>

            <v-card-actions>
              <v-btn
                color="orange lighten-2"
                text
              >
                Explore
              </v-btn>

              <v-spacer></v-spacer>

              <v-btn
                icon
                @click="show = !show"
              >
                <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
              </v-btn>
            </v-card-actions>

            <v-expand-transition>
              <div v-show="show">
                <v-divider></v-divider>

                <v-card-text>
                  I'm a thing. But, like most , he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
                </v-card-text>
              </div>
            </v-expand-transition>
          </v-card>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </v-app>
</template>
<script>
export default {
  layout: "common",
  data() {
    return {
      show: true,
      src: require("@/assets/image/caro6.jpg"),
      items: [
        {
          src: require("@/assets/image/profile.jpg"),
          name: "Minilik",
          title: "Top concert ",
        },
        {
          src: require("@/assets/image/profile.jpg"),
          name: "Little",
          title: "programmer & data analyst",
        },
        {
          src: require("@/assets/image/profile.jpg"),
          name: "Nahom",
          title: "database analyst & requirement",
        },
      ],
    };
  },
};
</script>
<style scoped>
.imagelayout {
  height: 400px;
}
.block {
  margin-top: 4%;
  font-weight: lighter;
}
.divider {
  width: 6%;
  margin-left: 47.4%;
  margin-bottom: 4%;
  margin-top: 1%;
  padding-top: 0.3%;
}
</style>
