<script>
export default {
  layout: 'land',
  data(){
    return{
      show: true,
      card: [
        {
          title: 'Corporate Event',
          src: '',
          desc: 'Because your conferences, workshops and galas must make an impact.'
        },
         {
          title: 'Social Event',
          src: '',
          desc: 'Because every celebration deserves a little something special.'
        },
         {
          title: 'Life Event',
          src: '',
          desc: ''
        }
      ]
    }
  }
}
</script>

<template>
  <v-container>
   <v-row class="pt-12">
     <v-col cols="6">
       <div class="text-h6 teal--text " >
        JP EVENTS OF NASHVILLE
       </div>
       <v-divider width="10%" class="teal mt-2"/>
      
         <div class="text-h2  pt-12 teal--text">
           Our Greatness Comes from Serving You
         </div>
         <div class="text-h7 ">
           At JP Events, everything we do revolves around you — your vision, your priorities, your next big event. We offer comprehensive event planning services to keep the process simple and seamless, and we manage every detail to perfection. The result: beautifully curated events for every occasion.
         </div>
         <div class="pt-12">
           <v-btn color="teal" dark width="40vh" height="10vh" to="/login">Sign in
           <v-icon class="pl-7">mdi-login-variant</v-icon>
           </v-btn>
         </div>
       
     </v-col>
     <v-col cols="6" class="pb-12">
       <div>
         <v-img src="./gif_slide.gif" height="80vh"></v-img>
       </div>
     </v-col>
   </v-row>
   <v-row>
     <v-col>
       <div class="text-center font-weight-light ">E V E N T S</div>
        <v-divider class="divider teal"></v-divider>
        <div class="text-h3 teal--text ">
          Seamless, Effortless Event Planning in Nashville
          </div>
        <div class="text-h6  text-center py-5 teal--text">
          Large or small, black tie or business casual, your next event is in the right hands.
        </div>
        <v-row>
          <v-col  md="4" sm="12" lg="4" v-for="(item,i) in card" :key="i">
            <div>
          <v-card
          class="mx-auto"
          max-width="400"
        >
        <v-img
          class="align-end"
          height="200px"
          src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
        >
          <v-card-title class="white--text">{{item.title}}</v-card-title>
        </v-img>

        <v-card-subtitle class="pb-0 white--text">
          Number 10
        </v-card-subtitle>

        <v-card-text class="text--primary">
          <div>{{item.desc}}</div>

          <div>Whitsunday Island, Whitsunday Islands</div>
        </v-card-text>

  </v-card>
        </div>
          </v-col>
        </v-row>
     </v-col>
   </v-row>
   <!-- <v-row class="mt-12 pt-12">
      <v-card
    class="mx-auto"
    max-width="344"
  >
    <v-img
      src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
      height="200px"
    ></v-img>

    <v-card-title>
      Top western Ethiopian road trips
    </v-card-title>

    <v-card-subtitle>
      1,000 miles of wonder
    </v-card-subtitle>

    <v-card-actions>
      <v-btn
        color="orange lighten-2"
        text
      >
        Explore
      </v-btn>

      <v-spacer></v-spacer>

      <v-btn
        icon
        @click="show = !show"
      >
        <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <div v-show="show">
        <v-divider></v-divider>

        <v-card-text>
          I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
        </v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
   </v-row> -->
  </v-container>
</template>

<style scoped>
.cardlayout {
  margin-top: 30%;
  margin-left: 6%;
}
.btnlayout {
  margin-left: 36%;
  margin-top: 10%;
}
.divider {
  width: 4%;
  margin-left: 48%;
  margin-bottom: 4%;
  margin-top: 1%;
}
.land_class{
  margin-top: 50vh;
}
</style>