<script>
import login_token from '~/apollo/token.gql'

export default {
  layout: 'common',
  data() {
    return {
      name: this.$route.query.name,
      email: this.$route.query.email,
      incorrect_credential: false,
      valid: false,
      loading: false,
      username: '',
      password: '',
      imgUrl: require("../assets/image/login3.jpg"),
    }
  },
  methods: {
    async submit() {
      this.loading = true
      try {
        console.log(this.username, this.password)
        const { data } = await this.$apollo.query({
          query: login_token,
          variables: {
            username: this.username,
            password: this.password
          },
          fetchPolicy: 'network-only'
        })

        const token = data.token.access_token

        let claims = token.split('.')[1]

        claims = JSON.parse(atob(claims))

        claims.access_token = token

        // console.log("claims", claims.metadata)

        this.$store.dispatch('user/setUserId_a', claims.metadata["x-hasura-user-id"]);

        this.$store.dispatch('user/setPath_a', claims.metadata["x-hasura-path"]);

        this.$store.dispatch('user/setUsername_a', claims.metadata["x-hasura-name"]);

        this.$store.commit('user/login', claims)
          
        localStorage.setItem('session', JSON.stringify(claims))
        // console.log(claims.metadata["x-hasura-role"])
        // if(claims.metadata["x-hasura-role"] === "organizer"){
        this.$router.push('/user/user_dash')
        // }
        // this.$toasted.success(this.$t('successfully_logged_in'))

        // if (this.$route.query.next) {
        //   this.$router.replace(this.$route.query.next)
        // } else {
        //   this.$router.replace(
        //     this.localePath({
        //       name: 'application-index-application-information'
        //     })
        //   )
        // }

        this.loading = false
      } catch (error) {
        this.loading = false
        console.log(error)
        this.incorrect_credential = true;
        // this.toastError(error)
      }
    }
  }
}
</script>
<template>
  <v-row class="pt-10">
    <v-col align-self="center">
      <v-row align="center" justify="center">
        <v-col md="4" sm="12" class="pt-12">
          <v-card class="rounded-tr-xl">
            <!-- <v-row> -->
              <!-- <v-col align-self="center" cols="12" class="pb-9">
                <v-row>
                  <v-col cols="12">
                    <v-row align="center" justify="center">
                      <img
                        src="/logo.webp"
                        class="ml-3"
                        aspect-ratio="16/9"
                        height="70"
                      />
                    </v-row>
                  </v-col>
                </v-row>
              </v-col> -->
            <!-- </v-row> -->
            <v-row align="center" justify="center">
              <v-col cols="10">
                <div class="text-center font-weight-bold text-h4 ma-4 teal--text">
                  {{ $t('login') }}
                  <!-- login -->
                </div>
                <v-divider class="py-3"/>
                <div
                  v-if="name"
                  class="text-center white--text font-weight-bold text-h5 ma-4 primary rounded-lg"
                >
                  <!-- {{ $t('hello') }} {{ name }} -->
                  Hello <span>{{ name }}</span>  
                </div>
                <div
                  v-if="email"
                  class="text-center white--text font-weight-bold text-h ma-2 teal rounded-lg"
                >
                  <!-- {{ $t('hello') }} {{ name }} -->
                  You need to login as <span>{{ email }}</span>  
                </div>

                <div class="text-center text-caption ma-2 teal--text">
                  {{ $t('use_email_to_login') }}
                  <!-- Use Your Email to Login -->
                </div> 
                <v-card-text class="pl-6 pr-6">
                  <v-form v-model="valid" @submit.prevent="submit">
                    <v-text-field
                      v-model="username"
                      :label="$t('email')"
                      outlined
                      :rules="rules.required.concat(rules.email)"
                      @focus="incorrect_credential = false"
                    />
                    <v-text-field
                      v-model="password"
                      type="password"
                      :label="$t('password')"
                      outlined
                      :rules="rules.required"
                      @focus="incorrect_credential = false"
                    />

                    <div class="red--text px-3 pb-2 body-2" v-if="incorrect_credential"> 
                      {{$t('invalid_email_or_password')}}</div>

                    <v-row justify="center" class="mt-1 px-3" >
                      <v-btn
                        type="submit"
                        :disabled="!valid"
                        :loading="loading"
                        class="teal white--text "
                        block
                        >
                        {{ $t('login') }} 
                        <v-icon>mdi-chevron-right</v-icon>
                      </v-btn>
                    </v-row>

                    <div class="text-center text-h9 mt-8">
                      <nuxt-link
                        to="/signup"
                      >
                        {{ $t('i_dont_have_account') }}
                        <!-- I don't have an account -->
                      </nuxt-link>
                    </div>

                    <!-- <div class="text-center text-body mt-4">
                      <nuxt-link
                        :to="{
                          path: localePath({
                            name: 'signup'
                          })
                        }"
                      >
                        {{ $t('forgot_password') }}
                        forgot_password
                      </nuxt-link>
                    </div> -->
                  </v-form>
                </v-card-text>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>
