<template>
  <v-container>
    <!-- <v-card> -->
    <div id="map" style="height: 50vh; width: 90vh"></div>
   <!-- <v-text-field v-model=""></v-text-field> -->
    <!-- </v-card> -->
    <!-- <v-btn @click="getCode">Get</v-btn> -->
  </v-container>
</template>
<script>
// import axios from "axios";
// // import GET_LOCATION_CODE from "~/apollo/map/getMap.gql";
// import gql from 'graphql-tag'
// const GET_LOCATION_CODE = gql`
//       mutation($location: String!){
//     map(location: $location){
//         lat
//         lng

//     }
// }
// `
export default {
//   props: {
//     location: {
//       type: String,
//       required: true,
//     },
//   },
  data() {
    return {
      // latLng: [0, 0],
      lat: 0,
      lng: 0,
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      //   http://{s}.tile.osm.org/{z}/{x}/{y}.png https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
    };
  },
  computed: {
    // setLatLng() {
    //   return this.latLng;
    // },
    // latAndLng(){
    //  map.on('click', function(e) {
    //     alert("Lat, Lon : " + e.latlng.lat + ", " + e.latlng.lng)
    // });
    // }
  },
  methods: {
    // setLatLng() {
    // },

    async getMapPoint() {
      //   console.log(this.latLng);
      // var latLng = this.$L.latLng([coordinates[1], coordinates[0]]); // The url template for OpenStreetMap tiles.
       
      var latLng = this.$L.latLng([this.lat, this.lng]); // The url template for OpenStreetMap tiles.
      var osmUrl = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"; // Creates the tile layer.
      var osmTileLayer = this.$L.tileLayer(osmUrl, 
    //   {
    //     minZoom: 4,
    //     maxZoom: 15,
    //   }
      ); // Adds the tile layer to the map.
      var map = this.$L.map("map").addLayer(osmTileLayer);
      map.setView(latLng, 12); // Creates a marker for our departure location and adds it to the map.
    //   this.$L.marker(latLng).addTo(map).bindPopup("location");
    map.on('click', function(e) {
       console.log(e.latlng.lat,e.latlng.lng);
    })
    },
  },
  mounted() {
    this.getMapPoint();
  },
};
</script>