<script>
import set_password from '~/apollo/signup.gql'
export default {
  layout: 'common',
  // middleware: 'unauthenticated',
  data() {
    return {
      valid: false,
      loading: false,
      emailOnly: false,
      item: {
        phone_number: '+251',
        password: '',
        confirm_password: ''
      }
    }
  },
  computed: {
    custom_rules() {
      const rule = (v) =>
        (v || '').length === this.item.password.length ||
        'Invalid confirmation password'
      return [rule]
    }
  },
  methods: {
    async submit() {
      this.loading = true

      try {
        const item = JSON.parse(JSON.stringify(this.item))
        console.log(this.item)
        let variables = {
            email: this.item.email,
            name: this.item.name, 
            password: this.item.password
          }
        const { data } = await this.$apollo.mutate({
          mutation: set_password,
          variables
        })
        console.log(data);
        // this.$toasted.success(this.$t('signed_up'))
          this.emailOnly = true
        // } else { // IF WE USE PHONE NUMBER TO VERIFY USER ACCOUNT
        //   this.$router.replace(
        //     this.localePath({
        //       name: 'verify',
        //       query: {
        //         username: data.signup.phone_number || data.signup.email
        //       }
        //     })
        //   )
        // }

        this.loading = false
      } catch (err) {
        this.loading = false
        // this.toastError(err)
        console.log(err)
      }
    }
  }
}
</script>
<template>
  <v-row class="pt-12">
    <v-col align-self="center">
      <v-row align="center" justify="center">
        <v-col md="6" sm="12" class="pt-12">
          <v-card width="300vh">
            <!-- <v-row>
              <v-col align-self="center" cols="12" class="pb-9">
                <v-row>
                  <v-col cols="12">
                    <v-row align="center" justify="center">
                      <img
                        src="/logo.webp"
                        class="ml-3"
                        aspect-ratio="16/9"
                        height="70"
                      />
                    </v-row>
                  </v-col>
                </v-row>
              </v-col>
            </v-row> -->
            <v-row align="center" justify="center">
              <v-col v-if="!emailOnly" cols="10">
                <div class="text-center  text-h4 ma-4 teal--text pt-3">
                  <v-row>
                    <v-col class="pt-8">
                      <v-divider /> 
                    </v-col>
                    <v-col>
                        {{$t('register')}} 
                    </v-col>
                    <v-col class="pt-8"><v-divider /></v-col>
                  </v-row>
                </div>
                <div class="text-center ma-2 subtitle-2 teal--text pb-2">
                   Create your account. It's free and only takes a minute.
                </div> 
                <!-- <v-divider  class="py-3"/> -->
                <v-card-text class="px-9">
                  <v-form v-model="valid" @submit.prevent="submit" >
                    <v-text-field
                      v-model="item.name"
                      :label="$t('name')"
                      :rules="rules.required"
                      outlined
                    />
                    <v-text-field
                      v-model="item.email"
                      type="text"
                      :label="$t('email')"
                      :rules="rules.email"
                      outlined
                    />

                    <v-text-field
                      v-model="item.password"
                      :label="$t('password')"
                      type="password"
                      :rules="rules.required"
                      outlined
                    />

                    <v-text-field
                      v-model="item.confirm_password"
                      :label="$t('confirm_password')"
                      type="password"
                      outlined
                      :rules="custom_rules"
                    />

                    <v-row justify="center" class="mt-3 px-3">
                      <v-btn
                        type="submit"
                        :loading="loading"
                        :disabled="!valid"
                        class="teal white--text text-capitalize" block
                        >{{$t('register')}}
                        <v-icon>mdi-chevron-right</v-icon>
                      </v-btn>
                    </v-row>

                    <!-- <v-row>
                      <v-col>
                        <div class="text-center text-body mt-4">
                          <nuxt-link
                            :to="{
                              path: localePath({
                                name: 'verify'
                              })
                            }"
                          >
                            {{ $t('verify_my_existing_code') }}
                            verify_my_existing_code
                          </nuxt-link>
                        </div>
                      </v-col>
                    </v-row> -->
                  </v-form>
                </v-card-text>
                <div justify="center" class="pa-5 text-center body-2">
                  {{$t('already_have_account')}} ? <nuxt-link to="/login">{{$t('login')}}</nuxt-link>
                </div>
              </v-col>
              <v-col v-else cols="10">
                <v-card-text class="pl-12 pr-12">
                  <div class="text-center ">
                    <v-icon color="success" size="96">
                      mdi-check-circle
                    </v-icon>
                  </div>
                  <div class="text-center font-weight-bold text-h5 ma-4">
                    <!-- {{ $t('you_will_receive_a_verification_email') }} -->
                    Thank you for signing up.
                  </div>
                  <div class="text-center body-2 mx-2 my-4">
                    Please open your email and verify your email address in order to access your account.
                  </div>
                  <div class="text-center body-2 mx-2 my-4">
                    We sent an email to <span class="font-weight-bold">minilikshumete@gmail.com</span>
                    <!-- {{ $t('please_open_your_email_and_click_the_open_link') }} -->
                    <!-- please open your email and click the open link -->
                  </div>
                  <div class="text-center ma-2 body-2">
                     To continue, please check your inbox and verify your email address.
                  </div>
                </v-card-text>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>
