 
<script>
// import confirm_phone from '~/apollo/confirm-phone.gql'
import confirm_email from '~/apollo/confirm-email.gql';
import confirm_email_change from '~/apollo/confirm-email-change.gql';
import update_account from '~/apollo/user/update_account.gql';


export default {
  layout: 'common',
//   middleware: 'unauthenticated',
  data() {
    return {
      usenrame: this.$route.query.username || undefined,
    //   token: this.$route.query.token || undefined,
      token: this.$route.query.confirmation_token,
      change_email_token: this.$route.query.change_email_token,
      valid: false,
      loading: false,
      resending: false,
      phone_number: this.$route.query.phone_number, 
      code_fragment: {},
      code: undefined
    }
  },
  methods: {
    // focus(refs, item) {
    //   refs[item].focus()
    // },
    async submit() {
      this.loading = true
      try {
          const { data } = await this.$apollo.mutate({
            mutation: confirm_email,
            variables: {
              token: this.token
            }
          })
            console.log(data)
           const name = data.confirm_email.name
          this.$router.replace({
            name: 'login',
              query: {
                name
              }
          })
        // }

        this.loading = false
      } catch (err) {
        this.loading = false
        console.log(err)
        // this.toastError(err)
      }
    },
    async change_email(){
      this.loading = true;

      try{

        const { data } = await this.$apollo.mutate({
                mutation: confirm_email_change,
                variables: {
                  token: this.change_email_token
                }
        });
         
        // console.log(data.confirm_email_change);

        // let result = await this.$apollo.mutate({
        //      mutation: update_account,
        //      variables: {
        //        id: data.confirm_email_change.id,
        //        email: data.confirm_email_change.email
        //      }
        // });
        // console.log("result", result)
        let email = data.confirm_email_change.email
          this.$router.replace({
            name: 'login',
              query: {
                email
              }
          })

        this.loading = false;

      }catch(err){
        this.loading = false;
        console.log(err);
      }
    }
  },
  mounted(){
      console.log(this.$route.query.confirmation_token)
  }
}
</script>

<template>
  <v-row class="pt-12">
    <v-col align-self="center">
      <v-row align="center" justify="center">
        <v-col md="8" sm="12" class="pt-12">
          <v-card>
            <v-form v-model="valid" class="pr-4 pl-4" @submit.prevent="submit" v-if="token">

              <v-row justify="center">
                <div class="flex-shrink-1 pt-12">
                         <img :src="require('~/assets/image/message.png')" height="300" />
                </div>
                <div class="col">
                  <!-- <v-col> -->
                  <v-row class="pt-6 mt-12" justify="center">
                    <v-col cols="12">
                      <div class="text-center">
                        <div v-if="token" class="font-weight-italic">
                          Click complete signup button to finish your signup and avtivate your account.
                        </div>
                        <div class="font-weight-black title">
                          <!-- {{ $route.query.username }} -->
                        </div>
                      </div>
                    </v-col>

                  </v-row>
                  <v-row>
                    <v-col>

                      <div class="text-center">
                        <v-btn color="teal" dark type="submit" 
                               :disabled="!valid"
                                class="text-capitalize">
                              {{$t('complete_signup')}}
                        </v-btn>
                      </div>
                    </v-col>
                  </v-row>
                </div>
              </v-row>
            </v-form>

            <v-form v-model="valid" v-if="change_email_token" @submit.prevent="change_email">
              <v-row justify="center">
                <div class="flex-shrink-1 pt-12">
                         <img :src="require('~/assets/image/message.png')" height="300" />
                </div>
                <div class="col">
                  <!-- <v-col> -->
                  <v-row class="pt-6 mt-12" justify="center">
                    <v-col cols="12">
                      <div class="text-center">
                        <div v-if="change_email_token" class="font-weight-italic">
                          Click verify your change button to finish your change.
                        </div>
                        <div class="font-weight-black title">
                          <!-- {{ $route.query.username }} -->
                        </div>
                      </div>
                    </v-col>

                  </v-row>
                  <v-row>
                    <v-col>
  
                      <div class="text-center">
                        <v-btn color="teal" dark type="submit" 
                        :disabled="!valid" class="text-capitalize">
                          {{ $t('verify_your_change') }}
                           <!-- verify your change -->
                        </v-btn>
                      </div>
                    </v-col>
                  </v-row>
                </div>
              </v-row>
            </v-form>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>
