<script>
import gql from 'graphql-tag'
// import GET_EVENTS from "~/apollo/event/get_all_events.gql";
import GET_ALL from "~/apollo/event/get_all_events.gql";
import GET_EVENTS from "~/apollo/data_table_event.gql";
export default {
  layout: "org_layout",
  data() {
    return {
      e4: null,
      search: "",
      src: require("@/assets/image/events-banner.gif"),
      items: [],
       page: 1,
      paginationLength: 1,
      limit: 5,
      offset: 0,
    };
  },
  methods: {
    editItem(item) {
      this.$router.push("/organizer/event_setting/" + item.id);
      // this.editedItem = Object.assign({}, item)
      // this.dialog = true
    },
     // Display pagination pages
    async displayPage(page) {
      this.page = page;
      this.items = [];
      this.offset = (page - 1) * this.limit;
      const variables = {
        status: "active",
        orgId: this.$store.getters["user/userId"],
        offset: this.offset,
        limit: this.limit,
      };
      const data = await this.$apollo.query({
        query: GET_EVENTS,
        variables,
      });
      for (let i = 0; i < data.data.events.length; i++) {
        this.items.push(data.data.events[i]);
      }
      // this.$store.dispatch("event/setEvents_a", this.items);
    },
      // get events
    async getEvents() {
      let variables = {
        status: "active",
        orgId: this.$store.getters["user/userId"],
        limit: this.limit,
        offset: this.offset,
      };
      let data; // Try .... catch
        data = await this.$apollo.query({
          query: GET_EVENTS,
          variables,
        });
      this.items = data.data.events;
      // this.$store.dispatch("event/setEmptyAdded_a");
      // this.$store.dispatch("event/setEvents_a", this.items);
    },
     async getAll() {
      let variables = {
        orgId: this.$store.getters["user/userId"],
        status: "active",
      };

      let data = await this.$apollo.query({
        query: GET_ALL,
        variables,
      });
      console.log(data.data.events.length);
      this.paginationLength = Math.ceil(data.data.events.length / this.limit);
      this.$store.dispatch("event/setEvents_a", data.data.events);

    },
  },
  created() {
     this.getEvents();
    this.getAll();
  },
};
</script>

<template>
  <v-app class="body">
     <div>
      <v-img src="/incoming_event.jpg" height="400px" position="center" sizes="cover" />
    </div>

    <v-container>
      <v-card class="table">
        <v-card-title class="teal--text"
          ><p style="font-size:140%;">{{$t('event')}}</p> <v-spacer></v-spacer>
        </v-card-title>

        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Event Date</th>
                <th>Available seat</th>
                <th>Price</th>
                <th> Edit Event</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in items" :key="item.id">
                <td>{{ item.title}}</td>
                <td>{{ item.type}}</td>
                <td>{{ item.event_date}}</td>
                <td>{{ item.total_ticket}}</td>
                <td>{{ item.price}}</td>
                <td><v-icon class="teal--text"  @click="$router.push('/organizer/event_setting/' + item.id)">mdi-pencil</v-icon></td>

              </tr>
            </tbody>

          </template>
        </v-simple-table>
      </v-card>
<div class="text-center mt-12">
      <v-pagination
        v-model="page"
        color="teal"
        circle  
        :length="paginationLength"
        @input="displayPage(page)"
      ></v-pagination>
    </div>
    </v-container>
  </v-app>
</template>

<style scoped>
.mainDivider {
  width: 10%;
  margin-left: 45%;
  margin-top: -2px;
  margin-bottom: 1%;
  padding-top: 0.1%;
}
.search{
  margin-left: 30%;
  font-size: 75%;
}
.table{
  margin-top: -8%;
}
</style>