<template>
  <v-app>
    <div>
      <v-img :src="src" height="55vh" position="center" sizes="cover">
        <!-- <v-layout row class="white--text" justify-end>
          <v-spacer></v-spacer>
          <v-flex>
            <div class="subheading">Jonathan Lee</div>
          </v-flex>
        </v-layout> -->
        <v-row align="end" class="lightbox white--text fill-height pa-2">
          <v-col>
            <v-container>
              <div class="headline">{{$t('about')}}</div>
            </v-container>
          </v-col>
        </v-row>
      </v-img>
    </div>
    <div class="block">
      <v-container>
        <v-responsive
            class="mx-auto font-weight-regular mb-8 text-justify grey--text text--darken-3"
            max-width="720" style="font-size: 115%"
          >
            Contrary to popular belief, not simply random text. It has roots in
            a piece of classical Latin literature from 45 BC, making it over
            2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage.
          </v-responsive>
      </v-container>
    </div>
    <v-divider class="mt-8"></v-divider>
    <div class="block">
      <v-container class="mb-12">
        <h2 class="text-center font-weight-light">Our Teams</h2>
        <v-divider class="divider black"></v-divider>
        <v-row>
          <v-col v-for="(item,i) in items" :key="i" cols="4">
            <v-card class="mx-auto" flat>
              <v-img class="white--text" height="260px" :src="item.src">
              </v-img>

              <v-card-text class="text-center">
                <div class="title primary--text">{{ item.name }}</div>
                <p>{{ item.title }}</p>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </v-app>
</template>
<script>
export default {
  layout: "org_layout",
  data() {
    return {
      src: require("@/assets/image/caro6.jpg"),
      items: [
        {
          src: require("@/assets/image/online.jpg"),
          name: "Minilik",
          title: "Programmer & analyst",
        },
        {
          src: require("@/assets/image/caro1.jpg"),
          name: "Little",
          title: "programmer & data analyst",
        },
        {
          src: require("@/assets/image/online.jpg"),
          name: "Nahom",
          title: "database analyst & requirement",
        },
      ],
    };
  },
};
</script>
<style scoped>
.imagelayout {
  height: 400px;
}
.block {
  margin-top: 4%;
  font-weight: lighter;
}
.divider {
  width: 6%;
  margin-left: 47.4%;
  margin-bottom: 4%;
  margin-top: 1%;
  padding-top: 0.3%;
}
</style>
