<script>
import gql from "graphql-tag";
import GET_ALL from "~/apollo/event/get_all_events.gql";
import UPDATE_EVENT from "~/apollo/event/update_event.gql";
import STORE_IMAGE from "~/apollo/image/send_image.gql";
import UPLOAD from "~/apollo/image/get_image_url.gql";
import UPDATE_STATUS from "~/apollo/event/update_status.gql";
import MULTI_UPLOAD from "~/apollo/image/multi_upload.gql";

const GET_EVENTS = gql`
  query get_events(
    $orgId: String!
    $status: String!
    $offset: Int!
    $limit: Int!
  ) {
    events(
      where: { _and: { orgId: { _eq: $orgId }, status: { _eq: $status } } }
      offset: $offset
      limit: $limit
    ) {
      id
      title
      type
      orgId
      price
      total_ticket
      event_date
      event_time
      average_rate
      status
      hasManyImage {
        eventId
        id
        path
        userId
      }
      hasManyTicket {
        id
        eventId
      }
    }
  }
`;

export default {
  layout: "org_layout",
  // middleware: "authenticate",
  // name: "Organizer",
  data() {
    return {
      src: require("@/assets/image/caro6.jpg"),
      show: false,
      dialog: false,
      date_expired: false,
      show_scroller: false,
      events_list: [],
       memuButton: [
        { title: "Party" },
        { title: "Concert" },
        { title: "Bazar" },
        { title: "Mind Set" },
        { title: "Campus Life" },
        { title: "Life Project" },
        { title: "Science Event" },
        { title: "Forum" },
        { title: "All" },
      ],
      caros: [
        {
          src: require("~/assets/image/caro7.jpg"),
        },
        {
          src: require("~/assets/image/caro2.jpg"),
        },
        {
          src: require("~/assets/image/caro3.jpg"),
        },
        {
          src: require("@/assets/image/caro4.jpg"),
        },
        {
          src: require("@/assets/image/caro6.jpg"),
        },
      ],
      search: "",
      filter: {},
      sortDesc: false,
      page: 1,
      sortBy: "title",
      keys: ["id", "title", "type", "orgId", "price", "total_ticket"],
      your_events: [],
      items: [],
      page: 1,
      paginationLength: 1,
      limit: 6,
      offset: 0,
    };
  },
  computed: {
    filteredKeys() {
      return this.keys.filter((key) => key !== "Name");
    },
    // items() {
    //   return this.$store.getters["event/getEvents"];
    // },
  },
  methods: {
    // select eveents by its type
    eventTriggered(title) {
      window.alert(`Triggered event is ${title}`);
    },
    // Display pagination pages
    async displayPage(page) {
      this.page = page;
      this.items = [];
      this.offset = (page - 1) * this.limit;
      const variables = {
        status: "active",
        orgId: this.$store.getters["user/userId"],
        offset: this.offset,
        limit: this.limit,
      };
      const data = await this.$apollo.query({
        query: GET_EVENTS,
        variables,
      });
      for (let i = 0; i < data.data.events.length; i++) {
        this.items.push(data.data.events[i]);
      }
      // this.$store.dispatch("event/setEvents_a", this.items);
       this.$store.dispatch("event/setEventForPage_a", this.items);
    },
    // get events
    async getEvents() {
      this.items = []
      let variables = {
        status: "active",
        orgId: this.$store.getters["user/userId"],
        limit: this.limit,
        offset: this.offset,
      };
      let data; // Try .... catch
        try {
          data = await this.$apollo.query({
          query: GET_EVENTS,
          variables,
        });
        } catch(err){
          window.location.reload();
        }
      this.items = data.data.events;
      this.getAll();
      this.$store.dispatch("event/setEventForPage_a", this.items);
      // this.$store.dispatch("event/setEvents_a", this.items);
      console.log("Pagination Events", this.items) 
    },
    async getAll() {
      let variables = {
        orgId: this.$store.getters["user/userId"],
        status: "active",
      };
      

      let data = await this.$apollo.query({
        query: GET_ALL,
        variables,
      });
      console.log(data.data.events.length);
      this.paginationLength = Math.ceil(data.data.events.length / this.limit);
      this.$store.dispatch("event/setEvents_a", data.data.events);
    },
  },
  created() {
    this.getEvents();
    // console.log(this.$store.getters["user/userId"]);
  },
};
</script>

<template>
  <!-- <v-app> -->
  <v-app fluid class="body">
    <v-carousel
      cycle
      width="100%"
      hide-delimiters
      show-arrows-on-hover
      height="300px"
    >
      <v-carousel-item
        v-for="(slide, i) in caros"
        :key="i"
        :src="slide.src"
        class="carouselItem"
      >
        <v-layout align-center fill-height justify-center>
          <!-- <div class="display-3">{{ slides[i] }} Slide</div> <br> -->
          <div class="button">
            <v-btn outlined to="#lists">
              <v-icon>mdi-chevron-left</v-icon> Get Out More
              <v-icon>mdi-chevron-right</v-icon></v-btn
            >
          </div>
        </v-layout>
        <!-- </v-sheet> -->
      </v-carousel-item>
    </v-carousel>
    <div class="mt-8" id="lists">
      <p class="text-center text-capitalize teal--text darken-2" style="font-size:170%;">
        Hosted <span class="grey--text"> Events</span>
      </p>
    </div>
    <v-divider class="teal mainDivider"></v-divider>
    <v-data-iterator
      :items="items"
      :sort-by="sortBy.toLowerCase()"
      :sort-desc="sortDesc"
      hide-default-footer
    >

      <template v-slot:default="props">
        <v-layout align-center justify-center wrap>
          <v-flex
            v-for="item in props.items"
            :key="item.title"
            md4
            lg4
            sm6
            xs12
             class="mx-n7"
          >
            <v-flex
              class=""
              @click="$router.push('/organizer/event_setting/' + item.id)"
            >
              <v-card :hover="true" max-width="340" class="mx-auto my-4">
                <!-- <v-system-bar lights-out></v-system-bar> -->
                <!-- Display image  -->
                <v-row dense>
                  <v-col cols="12">
                    <v-img
                      v-if="item.hasManyImage.length > 0"
                      :src="item.hasManyImage[0].path"
                      class="white--text align-end"
                      height="115px"
                      width="350px"
                    >
                    </v-img>
                    <v-img
                      v-if="item.hasManyImage.length <= 0"
                      height="170"
                      src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
                    ></v-img>
                  </v-col>
                </v-row>
                <v-row dense>
                  <v-col
                    v-for="image in item.hasManyImage"
                    :key="image.id"
                    cols="3"
                  >
                    <v-img
                      :src="image.path"
                      class="white--text align-end mt-n1 mr-n1"
                      height="50px"
                    >
                    </v-img>
                  </v-col>
                </v-row>
                <!-- display image ends -->
                <v-card-title style="font-size: 130%">{{ item.title }}</v-card-title>
                <v-card-text class="cardElement">
                  <p class="typeStyle">{{ item.type }}</p>
                  <v-row align="center" class="mx-0 mb-1 ml-2">
                    <v-rating
                      :value="item.average_rate"
                      color="teal"
                      dense
                      half-increments
                      readonly
                      size="17"
                    ></v-rating>

                    <!-- <div class="grey--text ml-4">4.5</div> -->
                  </v-row>
                  <div class="listDiv">
                    <v-icon color="teal" class="mr-2 mb-2">mdi-clock-start</v-icon>
                    <span>Event date - </span>
                    <span class="teal--text">{{ item.event_date }} </span> G.C at
                    <span class="teal--text">{{item.event_time}}</span>
                  </div>
                  <div class="mb-3 listDiv">
                    <v-icon color="teal" class="mr-2 listDiv"
                      >mdi-currency-usd</v-icon
                    >
                    <span>Price For single Ticket - </span>
                    <span class="teal--text">{{ item.price }}</span> Birr.
                  </div>
                  <div class="mb-3 listDiv">
                    <v-icon color="teal" class="mr-2 listDiv">mdi-seat</v-icon>
                    Available Seat -
                    <span class="teal--text">{{ item.total_ticket }}</span
                    >.
                  </div>
                  <!-- <div>
                    Small plates, salads & sandwiches - an intimate setting with
                    12 indoor seats plus patio seating.
                  </div> -->
                </v-card-text>
             
              </v-card>
              <!-- Dialog popup displaying event settings and enough details -->
            </v-flex>
          </v-flex>
        </v-layout>
      </template>
    </v-data-iterator>
    <div class="text-center mt-12">
      <v-pagination
        v-model="page"
        color="teal"
        :length="paginationLength"
        @input="displayPage(page)"
      ></v-pagination>
    </div>
  </v-app>
  <!-- </v-app> -->
</template>

<style scoped>
.dialogDivider {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -2%;
}
.mainDivider {
  width: 10%;
  margin-left: 45%;
  margin-top: -2px;
  margin-bottom: 3%;
  padding-top: 0.1%;
}
.button:hover {
  background-color: black;
  height: fit-content;
}
.titleDivider {
  margin-top: -2%;
  margin-bottom: 2%;
}
.typeStyle {
  margin-top: -5%;
}
.body {
  /* background-color: rgba(250, 249, 249, 0.92); */
}
.toolbarRow {
  margin-left: 67%;
}
.textSearch {
  margin-left: 35%;
}
.cardElement{
  font-size: 90% !important;

}
/* .listDiv {
  margin-top: -3%;
} */
</style>