<script>
import GET_SUBSCRIBED from "~/apollo/tickets/get_user_ticket.gql";
import EVENT_ONE from "~/apollo/event/event_one.gql";
import GET_USER from "~/apollo/user/get_user.gql";
import MY_SUBSCRIBE from "~/apollo/subscribe/get_subscriptions.gql"
export default {
  layout: "org_layout",
  data() {
    return {
      src: require("@/assets/image/events-banner.gif"),
      // subcribed_info: [],
      dialog: false,
      event_data: {},
      org_info: {},
      date_expired: false,
      user_subscriptions: []
    };
  },
  computed:{
    subcribed_info(){
      return this.$store.getters["user/getTickets"];
    }
  },
  methods: {
    closeDialog() {
      (this.dialog = false), (this.date_expired = false);
    },
    // GET EVENT DETAIL BASED ON TICKET INFO
    async getTicket_event(event_id) {
      console.log(event_id);
      const variables = { id: event_id };
      this.dialog = true;
      const data = await this.$apollo.query({
        query: EVENT_ONE,
        variables,
      });

      const from_event = new Date(data.data.events_by_pk.event_date);
      const diffDays = await this.calculateDate(from_event);
      if (diffDays < 0) {
        this.event_data = { ...data.data.events_by_pk };
        this.date_expired = true;
      } else {
        this.event_data = { ...data.data.events_by_pk, date_left: diffDays };
      }
      await this.getOrganizerInfo(this.event_data.orgId);
      console.log(this.event_data);
    },
    calculateDate(from_event) {
      const year = new Date().getFullYear();
      const month = new Date().getMonth() + 1;
      const date = new Date().getDate();
      const combination = `${year}-${month}-${date}`;
      const currentDate = new Date(combination);
      const diffTime = from_event - currentDate;
      const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
      return diffDays;
    },
    // GET ORGANIZER INFORMATION
    async getOrganizerInfo(orgId) {
      const variables = { id: orgId };
      const org = await this.$apollo.query({
        query: GET_USER,
        variables,
      });
      console.log(org.data.event_users_by_pk);
      this.org_info = org.data.event_users_by_pk;
    },
    // GET USER SUBSCRIPTION
   async getSubsribtion(){
      let variables = { user_id: this.$store.getters["user/userId"]};
      const data = await this.$apollo.query({
            query: MY_SUBSCRIBE,
            variables
      })
      console.log("sub INFO",data.data.subscription)
      this.user_subscriptions = data.data.subscription
      console.log(this.user_subscriptions)
   }
  },
  mounted(){
    this.getSubsribtion()
  }
};
</script>

<template>
<v-app class="body">
   <!-- <v-parallax src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"></v-parallax> -->
  <div>
      <v-img :src="src" height="300px" position="center" sizes="cover" />
    </div>
  <v-container>
    
    <v-card flat light color="grey lighten-4"
      ><v-card-title class="justify-center teal--text  text-capitalize" 
        ><h2 class="title">See your Attending Event</h2></v-card-title
      ><v-divider class="info mainDivider mb-2"></v-divider>
    </v-card>
    <p class="info--text text-center">
      <v-icon>mdi-alert-circle-outline</v-icon>
      In order to attend the event please you have to come up with your
      subsctiption key
    </p>
    <v-layout wrap>
      <v-row class=" mt-10"> 
      <v-col v-for="info in subcribed_info" :key="info.id" cols="6">
          <v-card :hover="true" @click="getTicket_event(info.eventId)" class="rounded-tl-xl">
            <v-card-text class="cardText">
              <div>
                <p>
                  <span class="teal--text">Event Name - </span
                  >{{ info.event_name }}
                </p>
                <p>
                  <span class="teal--text"> Your Ticket - </span
                  >{{ info.user_ticket_id }}
                </p>
              </div>
            </v-card-text>
          </v-card>
          <v-dialog
            v-model="dialog"
            width="50%"
            persistent
            :retain-focus="false"
            transition="dialog-top-transition"
          >
            <v-card>
              <v-card-title
                class="justify-center info--text grey lighten-3"
                dark
              >
                <v-layout wrap>
                  <v-flex class="teal--text ml-2 mb-n4" >
                    <p class="caroTitle">View detail about event</p></v-flex
                  ><v-spacer></v-spacer>
                  <v-btn icon class="red--text" @click="closeDialog"
                    ><v-icon>mdi-close-circle</v-icon></v-btn
                  >
                </v-layout>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text class="teal--text" >
                <div class="mt-4">
                  <p class="text-center teal--text" style="font-size: 125%;">
                    <span class="t"></span>
                    <span class="mr-3">{{ event_data.title }}</span>
                  </p>
                  <v-divider class="dividerlayout teal mb-2"></v-divider>

                  <p class="text-center teal--text " style="font-size: 100%;">
                    <span class="mr-3">{{ event_data.type }}</span>
                  </p>
                </div>
                <v-row>
                  <v-col cols="6" md="6" lg="6" sm="6" class="mx-10 auto">
                    <p style="font-size: 100%;">
                      <v-icon class="teal--text mr-1">mdi-clock</v-icon>
                      <span>Event Date - </span>
                      <span class="warning--text mr-3">{{
                        event_data.event_date
                      }}</span>
                    </p>
                    <p class=" mt-5" style="font-size: 100%;">
                      <v-icon class="teal--text mb-1 mr-1">mdi-seat</v-icon>
                      <span class="">Total Left Ticket:</span>
                      <span class="teal--text mr-3">{{
                        event_data.total_ticket
                      }}</span>
                    </p>
                  </v-col>
                  <v-col>
                    <!-- <p style="font-size: 100%;">
                      <v-icon class="teal--text">mdi-map-marker</v-icon>
                      <span >Location:</span>
                      <span class="teal--text mr-3">{{
                        event_data.location
                      }}</span>
                    </p> -->
                  <p class="text-center" v-show="!date_expired" style="font-size: 100%;">
                    <v-icon color="teal">mdi-calendar-clock</v-icon>
                    <span class="warning--text"
                      >{{ event_data.date_left }} - days - </span
                    ><span class="teal--text">left to start event</span>
                </p>
                    <p>
                      <v-icon color="teal">mdi-currency-usd</v-icon>
                      <span>
                        Price For a Ticket:</span
                      >
                      <span class="teal--text mr-3">{{
                        event_data.price
                      }}</span>
                    </p>
                  </v-col>
                </v-row>
                <!-- <p class="text-center" v-show="!date_expired" style="font-size: 100%;">
                  <v-icon color="teal">mdi-calendar-clock</v-icon>
                  <span class="warning--text"
                    >{{ event_data.date_left }} - days - </span
                  ><span class="teal--text">left to start event ...</span>
                </p> -->
                <p class="text-center" v-show="date_expired" style="font-size: 100%;">
                  <v-icon>mdi-calendar-clock</v-icon>
                  <span class="red--text">The Event is passed!</span>
                </p>
                <p class="text-center" style="font-size: 100%;">
                  <v-icon color="teal" class="mb-1">mdi-gmail</v-icon>
                  <span class="warning--text"> Organizer address - </span
                  ><span class="teal--text">{{ org_info.email }} </span>
                </p>
              </v-card-text>
            </v-card>
          </v-dialog>
        </v-col>
      <v-row>
      </v-row>
    </v-row>
    </v-layout>
  </v-container>
</v-app>
</template>

<style scoped>
.mainDivider {
  width: 15%;
  margin-left: 43%;
  margin-top: -1%;
}
.dividerlayout {
  margin-top: -1.7%;
  width: 10%;
  margin-left: 44%;
}
.title{
  font-size: 120% !important; 
}
.cardText{
  font-size: 95% !important;
}
.caroTitle{
  font-size: unset !important;
}
</style>